/* The regular font */
@font-face {
    font-family: inter-reg;
    src: url('../Fonts/Inter-Regular.ttf');
}

/* The bold font */
@font-face {
    font-family: inter-bold;
    src: url('../Fonts/Inter-Bold.ttf');
}

/* The black/ extra bold font */
@font-face {
    font-family: inter-black;
    src: url('../Fonts/Inter-Black.ttf');
}

/* Universal Selector */
* {
    font-family: inter-reg;
}

body{
    /* background-color: #c6f5ed; */
    background: linear-gradient(to bottom, #ddfbf9, #6de2da);
    background-repeat: no-repeat;
    height: 100vh;

}

/* Nav Bar */
nav {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

To add hover effects on the List Item of the Nav Bar
.nav-li:hover {
    box-shadow: 0 -5px 10px whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav-ul{
    list-style: none;
    padding: 0;
}

.nav-a{
    position: relative;
    display: inline-block;
    padding: 5px 0;
}

.nav-a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff9601; /* You can change the color here */
    left: 0;
    bottom: 0;
    transition: width 0.3s ease; /* This controls the animation speed */
}

.nav-a:hover::after{
    width: 100%; /* The underline will extend fully when hovered */
}

.custom-nav{
    background-color: #11d7df;
}

.logo-img{
    width: 120px;
    height: 30px;
}

.search-container {
    position: relative;
    display: inline-block;
}

#search-input {
    padding: 5px;
    display: none;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

#search-input::placeholder {
    padding-left: 5px;
}

#search-input.active {
    display: block;
}

#search-icon {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 60px;
    color: white;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.magnifying-glass-icon {
    font-size: 25px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.quiz-sec{
    height: 550px;
    display: flex;
    align-items: center !important;
}

.quiz-sub-sec{
    background-color: #cef7f1;
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center !important;
    box-shadow: 4px 6px 18px 1px rgba(23,64,81,0.8);
-webkit-box-shadow: 4px 6px 18px 1px rgba(23,64,81,0.8);
-moz-box-shadow: 4px 6px 18px 1px rgba(23,64,81,0.8);
    /* align-items: center; */
}

.inner-quiz-div{
    margin-top: 100px;
}

.question-head{
    color: #165366;
    font-family: inter-bold;
}

/* .content{
    font-family: inter-reg;
    color: #165366;
} */

.custom-font{
    font-family: inter-reg;
    color: #165366
}

#submitBtn{
    display: none;
}