/* The regular font */
@font-face {
    font-family: inter-reg;
    src: url('../Fonts/Inter-Regular.ttf');
}

/* The bold font */
@font-face {
    font-family: inter-bold;
    src: url('../Fonts/Inter-Bold.ttf');
}

/* The black/ extra bold font */
@font-face {
    font-family: inter-black;
    src: url('../Fonts/Inter-Black.ttf');
}

/* Universal Selector */
* {
    font-family: inter-reg;
}

/* Targeting the body tag */
body {
    background:
        repeating-linear-gradient(45deg, rgba(146, 146, 146, 0.1), rgba(146, 146, 146, 0.1) 10px, transparent 10px, transparent 20px),
        radial-gradient(circle, #6de2da 1px, transparent 1px),
        #6de2da;
    background-size: 20px 20px, 20px 20px;
    /* Sizes for the patterns */
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Nav Bar */
.custom-nav {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #11d7df;
}

/* Unordered List in the Nav Bar */
.nav-ul {
    list-style: none;
    padding: 0;
}

/* Anchor tag of the Nav Bar */
.nav-a {
    position: relative;
    display: inline-block;
    padding: 5px 0;
}

/* Applying a pseudo class to the Anchor tag of the Nav Bar */
.nav-a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff9601;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
    /* This controls the animation speed */
}

/* Applying pseudo classes to the Anchor tag of the Nav Bar */
.nav-a:hover::after {
    width: 100%;
}

/* Logo Image in the Nav Bar */
.logo-img {
    width: 120px;
    height: 30px;
}

/* Div containing the Search Bar */
.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* The Search Input */
#search-input {
    padding: 5px;
    display: none;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

/* Applying a pseudo class on the Search Input */
#search-input::placeholder {
    padding-left: 5px;
}

/* When the Seacrh Input gets activated */
#search-input.active {
    display: block;
}

/* The magnifying glass icon */
#search-icon {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 60px;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

/* MEDIA QUERY TO TARGET MEDIUM SCREEN DEVICES */
@media screen and (min-width: 768px) and (max-width:991px) {

    /* Div containing the Search Bar */
    .search-container {
        display: none;
    }

    /* Unordered List in the Nav Bar */
    .nav-ul {
        text-align: center;
        font-size: large;
        padding: 10px 0px;
    }
}

/* MEDIA QUERY TO TARGET SMALL SCREEN DEVICES */
@media screen and (min-width: 576px) and (max-width:767px) {

    /* Div containing the Search Bar */
    .search-container {
        display: none;
    }

    /* Unordered List in the Nav Bar */
    .nav-ul {
        text-align: center;
        font-size: large;
    }
}

/* MEDIA QUERY TO TARGET EXTRA SMALL SCREEN DEVICES */
@media screen and (max-width:575px) {

    /* Div containing the Search Bar */
    .search-container {
        display: none;
    }

    /* Unordered List in the Nav Bar */
    .nav-ul {
        text-align: center;
        font-size: large;
    }
}

/* Section containing the quiz questions */
.quiz-sec {
    margin: 0;
    padding: 0;
    height: 90% !important;
    display: flex;
    align-items: center !important;
    overflow-y: hidden !important;
}

/* Sub Section of the Section containing the quiz questions */
.quiz-sub-sec {
    background-color: #a4ece8;
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    box-shadow: 4px 6px 18px 1px rgba(23, 64, 81, 0.8);
    -webkit-box-shadow: 4px 6px 18px 1px rgba(23, 64, 81, 0.8);
    -moz-box-shadow: 4px 6px 18px 1px rgba(23, 64, 81, 0.8);
}

/* Inner div of the Section containing the quiz questions */
.inner-quiz-div {
    margin-top: 100px;
    /* height: 100%;
    display: flex;
    align-items: center; */
}

/* Heading of the Section containing the quiz questions */
.question-head {
    color: #165366;
    font-family: inter-bold;
}

/* The quiz container */
.custom-quiz-container {
    font-family: inter-reg;
    color: #165366;
    width: 100%;
}

/* Div containing the "Previous", "Next" and the "Submit" Buttons */
.btn-div {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

/* The "Previous" Button */
#prevBtn {
    background-color: #ff9601;
    color: #022f58;
    border: none;
    border-radius: 30px;
    box-shadow: 7px 5px 23px -1px rgba(108, 102, 102, 0.75);
    -webkit-box-shadow: 7px 5px 23px -1px rgba(108, 102, 102, 0.75);
    -moz-box-shadow: 7px 5px 23px -1px rgba(108, 102, 102, 0.75);
    width: 180px;
    height: 50px;
}

/* Applying a pseudo class on the "Previous" Button */
#prevBtn:disabled {
    background-color: #ccc;
    color: #999;
    box-shadow: none;
}

/* The "Next" Button */
#nextBtn {
    background-color: #ff9601;
    border: none;
    border-radius: 30px;
    box-shadow: 7px 5px 23px -1px rgba(108, 102, 102, 0.75);
    -webkit-box-shadow: 7px 5px 23px -1px rgba(108, 102, 102, 0.75);
    -moz-box-shadow: 7px 5px 23px -1px rgba(108, 102, 102, 0.75);
    width: 180px;
    height: 50px;
    position: relative;
    display: inline-block;
    padding: 5px 0;
}

/* Applying a pseudo class on the "Next" Button */
#nextBtn:disabled {
    background-color: #ccc;
    color: #999;
    box-shadow: none;
}

/* The "Submit" Button */
#submitBtn {
    display: none;
    background-color: #ff9601;
    border: none;
    border-radius: 30px;
    box-shadow: 7px 5px 23px -1px rgba(108, 102, 102, 0.75);
    -webkit-box-shadow: 7px 5px 23px -1px rgba(108, 102, 102, 0.75);
    -moz-box-shadow: 7px 5px 23px -1px rgba(108, 102, 102, 0.75);
    width: 150px;
    height: 50px;
}